<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mannat Themes">
        <meta name="keyword" content="">

        <title>SYNTRA | Homepage</title>

        <!-- Theme icon -->
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

        <!-- Theme Css -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/slidebars.min.css}" rel="stylesheet">
        <link th:href="@{/css/icons.css}" rel="stylesheet">
        <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        
		<!--notifications-->
        <link th:href="@{/plugins/notifications/notification.css}" rel="stylesheet" />
    </head>

    <body class="sticky-header">
        <section>
        	<div th:replace="fragments/slidebar :: slidebar">
        	</div>
            <!-- body content start-->
            <div class="body-content">
                <!-- header section start-->
                <div th:replace="fragments/header :: header"></div>
                <!-- header section end-->

                <div class="container-fluid">
                    <div class="page-head" data-toggle="modal" data-target=".bd-example-modal-lg-folder">
                        <h4 class="mt-2 mb-2">Folder
                        <i class="mdi mdi-folder-plus"></i>
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
	                        <div class="card m-b-30">
	                            <div class="card-body">
	                                <h5 class="header-title">Example</h5>
	                                <p class="text-muted">This is an experimental awesome solution for responsive tables with complex data.</p>
	                                <div class="table-rep-plugin">
	                                    <div class="table-responsive" data-pattern="priority-columns">
	                                        <table id="tech-companies-1" class="table table-striped">
	                                            <thead>
	                                            <tr>
	                                                <th>Name</th>
	                                                <th style="width:10%">Type</th>
	                                                <th style="width:15%">Last Modified</th>
	                                                <th style="width:10%">Size</th>
	                                                <th style="width:25%">Action</th>
	                                            </tr>
	                                            </thead>
	                                            <tbody>
	                                            <tr th:each="folder : ${folders}">
	                                                <th><a th:text="${folder.folderName}" th:href="@{/folder/} + ${folder.id}"></a></th>
	                                                <td>Folder</td>
	                                                <td th:text="${folder.created_at}"></td>
	                                                <td></td>
	                                                <td>
				                                        <button type="button" class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
	                                                	<button type="button" class="btn btn-primary"><i class="fa fa-arrow-right"></i></button>
				                                        <button type="button" class="btn btn-success"><i class="fa fa-mail-forward"></i></button>
				                                        <button type="button" class="btn btn-warning"><i class="fa fa-star"></i></button>
				                                        <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
	                                                </td>
	                                            </tr>
	                                            </tbody>
	                                        </table>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>                        
                    </div><!--end row-->
                    <hr>
                    <div class="page-head" data-toggle="modal" data-target=".bd-example-modal-lg-file">
                        <h4 class="mt-2 mb-2">File <i class="mdi mdi-file"></i></h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
	                        <div class="card m-b-30">
	                            <div class="card-body">
	                                <h5 class="header-title">Example</h5>
	                                <p class="text-muted">This is an experimental awesome solution for responsive tables with complex data.</p>
	                                <div class="table-rep-plugin">
	                                    <div class="table-responsive" data-pattern="priority-columns">
	                                        <table id="tech-companies-1" class="table table-striped">
	                                            <thead>
	                                            <tr>
	                                                <th>Name</th>
	                                                <th>Type</th>
	                                                <th>Last Modified</th>
	                                                <th>Size</th>
	                                            </tr>
	                                            </thead>
	                                            <tbody>
	                                            <tr>
	                                                <th>AAPL <span class="co-name">Apple Inc.</span></th>
	                                                <td>378.94</td>
	                                                <td>12:22PM</td>
	                                                <td>12:22PM</td>
	                                            </tr>
	                                            <tr>
	                                                <th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
	                                                <td>15.81</td>
	                                                <td>12:25PM</td>
	                                                <td>12:25PM</td>
	                                            </tr>
	                                            </tbody>
	                                        </table>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>                        
                    </div>
                    
                </div><!--end container-->

                <!--footer section start-->
                <div th:replace="fragments/footer :: footer"></div>
                <!--footer section end-->
            </div>
            <!--end body content-->
            <div class="modal fade bd-example-modal-lg-folder" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-lg">
                 	<form th:action="@{/add-folder}" method="post">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <h5 class="modal-title">Add Folder</h5>
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                                <span aria-hidden="true">&times;</span>
	                            </button>
	                        </div>
	                        <div class="modal-body">
	                        	<input type="hidden" name="parentFolder" th:value="${parentFolder}"/>
	                        	<input name="foldername" required="required" class="form-control" id="example-search-input" type="text" placeholder="Folder name"/>
	                        </div>
	                        <div class="modal-footer">
	                            <button type="submit" class="btn btn-primary">Confirm</button>
	                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	                        </div>
	                    </div>
                     </form>
                 </div>
             </div>
             
             <div class="modal fade bd-example-modal-lg-file" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-lg">
                 	<form>
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <h5 class="modal-title">Add File</h5>
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                                <span aria-hidden="true">&times;</span>
	                            </button>
	                        </div>
	                        <div class="modal-body">
	                        	<input required="required" class="form-control" id="example-search-input" type="text" placeholder="File name"/>
	                        </div>
	                        <div class="modal-footer">
	                            <button type="submit" class="btn btn-primary">Confirm</button>
	                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	                        </div>
	                    </div>
                     </form>
                 </div>
             </div>
        </section>

        <!-- jQuery -->
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-migrate.js}"></script>
        <script th:src="@{/js/modernizr.min.js}"></script>
        <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
        <script th:src="@{/js/slidebars.min.js}"></script>

        <!--plugins js-->
        <script th:src="@{/plugins/counter/jquery.counterup.min.js}"></script>
        <script th:src="@{/plugins/waypoints/jquery.waypoints.min.js}"></script>
        <script th:src="@{/plugins/sparkline-chart/jquery.sparkline.min.js}"></script>
        <script th:src="@{/pages/jquery.sparkline.init.js}"></script>

        <script th:src="@{/plugins/chart-js/Chart.bundle.js}"></script>
        <script th:src="@{/plugins/morris-chart/raphael-min.js}"></script>
        <script th:src="@{/plugins/morris-chart/morris.js}"></script>
        <script th:src="@{/pages/dashboard-init.js}"></script>
		
		<!--Notifications-->
        <script th:src="@{/plugins/notifications/notify.min.js}"></script>
        <script th:src="@{/plugins/notifications/notify-metro.js}"></script>
        <script th:src="@{/plugins/notifications/notifications.js}"></script>
        
        <!--app js-->
        <script th:src="@{/js/jquery.app.js}"></script>
        <script>
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                delay: 100,
                time: 1200
                });
            });
        </script>
    </body>
</html>
